@model VPSA.Models.Denuncia

@{
    ViewData["Title"] = "Ver Denuncia";
    var comentarios = (List<VPSA.Models.Comentario>)ViewData["Comentarios"];
}
<br />
<link href="~/lib/Datatables/datatables.min.css" rel="stylesheet" />
@{
    var hasPhoto = Convert.ToBoolean(ViewBag.Hasphoto);

    if (Model != null)
    {
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card">
                    <div class="card-header text-white" style="background-color: #2990CA;">
                        Información de la  Denuncia - <b>@Model.NroDenuncia</b>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">Datos Generales</div>
                                    <div class="col-sm-12">
                                        <dl class="row">
                                            <dt class="col-sm-4">
                                                @Html.DisplayNameFor(model => model.Fecha)
                                            </dt>
                                            <dd class="col-sm-8">
                                                @(Model.Fecha.HasValue ? Model.Fecha.Value.ToString("dd/MM/yyyy HH:mm"): "")
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayNameFor(model => model.Calle)
                                            </dt>
                                            <dd class="col-sm-8">
                                                @(!string.IsNullOrWhiteSpace(Model.Calle) ? Model.Calle + " " +Model.Numero: "")
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayName("Entre Calles")
                                            </dt>
                                            <dd class="col-sm-8">
                                                @Html.DisplayFor(model => model.EntreCalles1)
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayName("Descripción")
                                            </dt>
                                            <dd class="col-sm-8">
                                                @Html.DisplayFor(model => model.Descripcion)
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayName("Tipo Denuncia")
                                            </dt>
                                            <dd class="col-sm-8">
                                                @Html.DisplayFor(model => model.TipoDenuncia.Nombre)
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayName("Infractor")
                                            </dt>
                                            <dd class="col-sm-8">
                                                @Html.DisplayFor(model => model.EntreCalles2)
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayName("Estado Denuncia")
                                            </dt>
                                            <dd class="col-sm-8">
                                                @(Model.EstadoDenuncia!=null ? Model.EstadoDenuncia.Nombre : "")
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">Evidencia</div>
                                    <div class="card-body">
                                        <div class="col-sm-12" style="text-align:center">
                                            @if (hasPhoto)
                                            {
                                                <img src="~/Photos/@(Model.NroDenuncia).jpg" class="img-fluid" style="max-width: 500px;">
                                            }
                                            else
                                            {
                                                <p>No hay evidencia cargada</p>
                                            }

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="col-md-12">
                                            Historial Trabajo
                                            <button type="button" class="btn btn-info btn-sm float-right" data-toggle="modal" data-target="#modal-lg">
                                                Cargar Nuevo
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="col-sm-12">
                                            @{

                                                if (comentarios.Any())
                                                {
                                                    <table class="table" id="Comentarios">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    @Html.DisplayName("Fecha Trabajo")
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayName("Empleado Asignado")
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayName("Trabajo Realizado")
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayName("Estado")
                                                                </th>
                                                                @*<th></th>*@
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in comentarios.OrderByDescending(x => x.FechaCreacion).ToList())
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @item.FechaCreacion.ToString("dd/MM/yyyy HH:mm")
                                                                    </td>
                                                                    <td>
                                                                        @item.Empleado.NombreCompleto
                                                                    </td>
                                                                    <td>
                                                                        @item.Descripcion
                                                                    </td>
                                                                    <td>
                                                                        @item.EstadoDenuncia.Nombre
                                                                    </td>
                                                                    @*<td>
                                                                            <a asp-action="Edit" asp-controller="Comentarios" asp-route-id="@item.Id">Edit</a> |
                                                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                                        </td>*@
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                                else
                                                {
                                                    <p>No se han cargado trabajos</p>
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="offset-10">
                            <a asp-action="Index" class="btn btn-outline-info">Volver atrás</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row" style="margin-top:150px">
            <div class="col-md-8 offset-2">
                <div class="card border-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fas fa-exclamation-triangle" style="color:#E77f14;font-size: 70px;margin: 20px;"></i>
                            </div>
                            <div class="col-md-11">
                                <h3 style="margin: 20px;padding-left: 30px;">No se encuentra en el sistema la denuncia con el Número ingresado</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: white!important;">
                        <div class="row offset-10">
                            <a href="/Home" class="card-link input-sm btn btn-outline-info text-right">Ir a página Principal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}
<partial name="../Comentarios/_CreateModal" />

@section Scripts {
    <script src="~/lib/Datatables/datatables.min.js"></script>
    <script src="~/js/SaveComentarios.js"></script>
    <script>
        $(document).ready(function () {
            $("#Comentarios").DataTable({
                "columnDefs": [{
                    "targets": [0, 1, 2, 3],
                    "visible": true,
                    //"searchable": false,
                    "orderable": false
                }],
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }
            });
        });
    </script>
}
