@model VPSA.Models.Denuncia
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Ver Denuncia";
    var comentarios = (List<VPSA.Models.Comentario>)ViewData["Comentarios"];
}
<br />

<link href="~/lib/Datatables/datatables.min.css" rel="stylesheet" />
<link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
@{
    var hasPhoto = Convert.ToBoolean(ViewBag.Hasphoto);

    if (Model != null)
    {
        ViewData["DenunciaId"] = Model.Id;

        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card">
                    <div class="card-header text-white" style="background-color: #2990CA;">
                        Información de la  Denuncia - <b>@Model.NroDenuncia</b>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">Datos Generales</div>
                                    <div class="col-sm-12">
                                        <dl class="row">
                                            <dt class="col-sm-4">
                                                @Html.DisplayNameFor(model => model.Fecha)
                                            </dt>
                                            <dd class="col-sm-8">
                                                @(Model.Fecha.HasValue ? Model.Fecha.Value.ToString("dd/MM/yyyy HH:mm") : "")
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayNameFor(model => model.Calle)
                                            </dt>
                                            <dd class="col-sm-8">
                                                @(!string.IsNullOrWhiteSpace(Model.Calle) ? Model.Calle + " " + Model.Numero : "")
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayName("Entre Calles")
                                            </dt>
                                            <dd class="col-sm-8">
                                                @Html.DisplayFor(model => model.EntreCalles1)
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayName("Descripción")
                                            </dt>
                                            <dd class="col-sm-8">
                                                @Html.DisplayFor(model => model.Descripcion)
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayName("Tipo Denuncia")
                                            </dt>
                                            <dd class="col-sm-8">
                                                @Html.DisplayFor(model => model.TipoDenuncia.Nombre)
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayName("Infractor")
                                            </dt>
                                            <dd class="col-sm-8">
                                                @Html.DisplayFor(model => model.EntreCalles2)
                                            </dd>
                                            <dt class="col-sm-4">
                                                @Html.DisplayName("Estado Denuncia")
                                            </dt>
                                            <dd class="col-sm-8">
                                                @(Model.EstadoDenuncia != null ? Model.EstadoDenuncia.Nombre : "")
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">Evidencia</div>
                                    <div class="card-body">
                                        <div class="col-sm-12" style="text-align:center">
                                            @if (hasPhoto)
                                            {
                                                <img src="~/Photos/@(Model.NroDenuncia).jpg" class="img-fluid" style="max-width: 500px;">
                                            }
                                            else
                                            {
                                                <p>No hay evidencia cargada</p>
                                            }

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="col-md-12">
                                            Historial Trabajo
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                <button type="button" class="btn btn-info btn-sm float-right" data-toggle="modal" data-target="#modal-lg">
                                                    Cargar Nuevo
                                                </button>
                                            }
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="col-sm-12">
                                            <table class="table" id="Comentarios">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayName("FechaCreacion")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Legajo")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Empleado")
                                                        </th>
                                                        <th width="50%">
                                                            @Html.DisplayName("Descripcion")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("EstadoDenuncia")
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="offset-10">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a asp-action="Index" class="btn btn-outline-info">Volver atrás</a>
                            }
                            else
                            {
                                <a href="/Home" class="card-link input-sm btn btn-outline-info text-right">Ir a página Principal</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row" style="margin-top:150px">
            <div class="col-md-8 offset-2">
                <div class="card border-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fas fa-exclamation-triangle" style="color:#E77f14;font-size: 70px;margin: 20px;"></i>
                            </div>
                            <div class="col-md-11">
                                <h3 style="margin: 20px;padding-left: 30px;">No se encuentra en el sistema la denuncia con el Número ingresado</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: white!important;">
                        <div class="row offset-10">
                            <a href="/Home" class="card-link input-sm btn btn-outline-info text-right">Ir a página Principal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}

<partial name="../Comentarios/_CreateModal" view-data="ViewData" />

@section Scripts {
    <script src="~/lib/Datatables/datatables.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#Comentarios").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 10,
                "ajax": {
                    "url": "/Comentarios/LoadData",
                    "type": "POST",
                    "data": { denunciaId: @(Model != null ? Model.Id : (int?)null)},
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0, 1, 2, 3],
                    "visible": true,
                    "orderable": false
                }],
                "columns": [
                    { "data": "fechaCreacion" },
                    {"data": "legajo"},
                    { "data": "empleado" },
                    { "data": "descripcion" },
                    { "data": "estadoDenuncia"}
                ],
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se han encontraron resultados",
                    "sEmptyTable": "No se han encontraron resultados",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }
            });


            $(".inputValidation").hide();

            $("#SaveButton").click(function (e) {

                e.preventDefault();
                $(".inputValidation").hide();
                var inputToValid = $("#ComentarioForm").find(".inputRequired").toArray();
                var count = 0;
                inputToValid.forEach(function (input) {
                    if (input.value == "") {
                        $("#" + input.name + "Valid").show();
                        count++;
                    }
                });
                if (count == 0) {
                    $.ajax({
                        type: "POST",
                        url: "/Comentarios/Create",
                        data: $("#ComentarioForm").serialize(),
                        success: function (data) {
                            if (data.success == true) {
                                $('#modal-lg').modal('hide');
                                $("#Comentarios").DataTable().ajax.reload();
                                $("#ComentarioForm").find('input, select').val("");
                                $("#Descripcion").text("");
                                $("#Descripcion").val("");
                                $("#DenunciaId").val(data.denunciaId);
                                toastr.success(data.message);
                            } else {
                                $('#modal-lg').modal('hide');
                                $("#DenunciaId").val(data.denunciaId);
                                toastr.error(data.message);
                            }
                        }
                    });
                }
            });

        });
    </script>
}
