@model VPSA.Models.Denuncia

@{
    ViewData["Title"] = "Ver Denuncia";
}
<br />
<div class="row">
    <div class="col-md-10 offset-1">
        <div class="card">
            <div class="card-header text-white" style="background-color: #2990CA;">
                Información de la  Denuncia
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Fecha)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Fecha)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Calle)
                    </dt>
                    <dd class="col-sm-10">
                        @(!string.IsNullOrWhiteSpace(Model.Calle) ? Model.Calle + " " +Model.Numero: "")
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayName("Entre Calles")
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EntreCalles1)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TipoDenuncia)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TipoDenuncia.Nombre)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayName("Infractor")
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EntreCalles2)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayName("Estado Denuncia")
                    </dt>
                    <dd class="col-sm-10">
                        @(Model.EstadoDenuncia!=null ? Model.EstadoDenuncia.Nombre : "")
                    </dd>
                </dl>
            </div>
        </div>
        <div class="card-footer">
            <div class="offset-10">
                <a asp-action="Index" class="btn btn-outline-info">Volver atrás</a>
            </div>
        </div>
    </div>
</div>
