@model IEnumerable<VPSA.Models.Denuncia>

@{
    ViewData["Title"] = "Listado Denuncias";
}

<link href="~/lib/Datatables/datatables.min.css" rel="stylesheet" />
<style>
    .fa-hands-helping {
        color: #007bff;
    }

        .fa-hands-helping:hover {
            color: #ffff;
        }
</style>

<br />
<div class="card">
    <div class="card-header text-white" style=" background-color: #2990CA;">
        Tablero de Denuncias
    </div>
    <div class="card-body ">
        <table class="table table-striped text-center" id="ListadoDenuncias">
            <thead>
                <tr class="head-grilla">
                    <th>#</th>
                    <th>#Nro</th>
                    <th>Fecha</th>
                    @*<th>@Html.ActionLink("Fecha", "Index", new { sortOrder = ViewBag.FechaSortParam })</th>*@
                    <th>Dirección</th>
                    <th>Tipo denuncia</th>
                    <th>Estado</th>
                    @*<th>@Html.ActionLink("Tipo denuncia", "Index", new { sortOrder = ViewBag.TypeDSortParam })</th>*@
                    @*<th>@Html.ActionLink("Estado", "Index", new { sortOrder = ViewBag.EstadoSortParam })</th>*@
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NroDenuncia)
                        </td>
                        <td>
                            @(item.Fecha.HasValue ? item.Fecha.Value.ToString("dd/MM/yyyy HH:mm") : "")
                        </td>
                        <td>
                            @(!string.IsNullOrEmpty(item.Calle) ? item.Calle + " " + item.Numero : "")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoDenuncia.Nombre)
                        </td>
                        <td>
                            @(item.EstadoDenuncia != null ? item.EstadoDenuncia.Nombre : "Registrada")
                        </td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm"
                               title="Ver Denuncia" asp-action="Details" asp-route-id="@item.Id">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-outline-primary btn-sm"
                               title="Tomar Denuncia">
                                <i class="fas fa-hands-helping" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-outline-primary btn-sm"
                               title="Cargar Trabajo"
                               asp-controller="Comentarios" asp-action="Create" asp-route-id="@item.Id">
                                <i class="fa fa-cogs" aria-hidden="true"></i>
                            </a>
                            <button class="btn btn-outline-primary btn-sm dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    title="Derivar a:"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu"
                                 aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Paola Juncos</a>
                                <a class="dropdown-item" href="#">Julian Bozas</a>
                                <a class="dropdown-item" href="#">Federico Lopez</a>
                                <a class="dropdown-item" href="#">Roman Sadowski</a>
                            </div>
                            <button class="btn btn-outline-danger btn-sm"
                                    color="secondary"
                                    title="Quitar de la Lista"
                                    rounded="true" >
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script src="~/lib/Datatables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#ListadoDenuncias").DataTable({
                //https://www.c-sharpcorner.com/article/using-jquery-datatables-grid-with-asp-net-core-mvc/
                //"processing": true, // for show progress bar
                //"serverSide": true, // for process server side
                //"filter": true, // this is for disable filter (search box)
                //"orderMulti": false, // for disable multiple column at once
                //"ajax": {
                //    "url": "/DemoGrid/LoadData",
                //    "type": "POST",
                //    "datatype": "json"
                //},
                "columnDefs": [{
                    "targets": [0, 1, 3, 4, 6],
                    "visible": true,
                    //"searchable": false,
                    "orderable": false
                }],
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }
                //"columns": [
                //    { "data": "CustomerID", "name": "CustomerID", "autoWidth": true },
                //    { "data": "Name", "name": "Name", "autoWidth": true },
                //    { "data": "Address", "name": "Address", "autoWidth": true },
                //    { "data": "Country", "name": "Country", "autoWidth": true },
                //    { "data": "City", "name": "City", "autoWidth": true },
                //    { "data": "Phoneno", "name": "Phoneno", "autoWidth": true },
                //    {
                //        "render": function(data, type, full, meta) { return '<a class="btn btn-info" href="/DemoGrid/Edit/' + full.CustomerID + '">Edit</a>'; }
                //    },
                //    {
                //        data: null,
                //        render: function(data, type, row) {
                //            return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.CustomerID + "'); >Delete</a>";
                //        }
                //    },
                //]

            });
        });
    </script>
}
